body {
  margin: 0px;
  padding: 0px;

}

nav {
  text-decoration: none;
  width: 100%;
  background-color: #0f59bc;
  overflow: auto;
  
}
ul {
  text-decoration: none;
  padding: 0px;
  margin: 0 0 0px;
  list-style: none;
}

nav a {
  width: 120px;
  display: block;
  padding: 20px 0px;
  text-decoration: none;
  font-family: Arial;
  color: white;
  text-align: center; 
}

nav a:hover {
  text-decoration: none;
  color: white;
  background: brown;
  transition: 0.3s;
}


.wijken {
  text-decoration: none;
  color: black;

}
.wijken:hover {
  background-color: darkorange;
  color: white;
}

.flex {
  justify-content: space-around;
  display: flex;
}

.containerIndex {
  display: flex;
}

.imagebuurtzorg {
 display: block;
  width: 101.7%;
  min-height: 100%

}

#textIndex {
   margin-left: 4%;
   margin-top: 4.8%;
   background-color: white;
   border: 2px solid black;
   padding-left: 2%;
   padding-right: 1.5%;
   height: 20%;
   padding-bottom: 13%;
   font-family: 'Gotu', sans-serif;
}

.container-vacature {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    overflow-wrap: break-word;
    word-break: break-all;
    

}

.div1 {

  max-width: 70%;
  margin-top: 1%;
  margin-bottom: 1%;
  height: 200px;
  width: 100%;
  background-color: whitesmoke ;
  border: 2px solid black; 
  overflow-wrap: break-word;
  overflow: auto;
}

#div2 {
  text-align: center;
  font-size: 200%;

}

#div3 {
  text-decoration: none;
  color: blue;
}
#div3:hover {
  text-shadow: 2px 2px 2px;
}

.div4 {
  text-decoration: none;
  color: red;
  float: right;
  margin-right: 1%
 
  


}
.div4:hover {
  text-shadow: 1px 1px 1px;
}

.div5 {
  min-width: 70%;
  margin-left: 15.05%;
  max-width: 70%;
  width: 70%;
  margin-bottom: 0.5%;
  margin-top: 0.5%;
  height: 50px;

  
}


.voorbeeld-mail {

  width: 40%;
  padding: 7% 0 0;
  margin: auto;

}
.mail {
  position: relative;
  z-index: 1;
  background: #FFFFFF;
  margin: 0 auto 20px;
  padding: 45px;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

.titelTop {
    margin-top: -1%;
    font-size: 200%;
}
table {
  border-collapse: collapse;
  width: 100%;
}

th, td {
  padding: 8px;
  text-align: left;
  padding-top: 1%;
  padding-bottom: 1%;
  font-size: 110%;

}
td {
    border-bottom: 1px solid black;
    border-top: 1px solid black;
    border-collapse: collapse;

}​

.form-filter {
   
   margin-top: 1.5%
}





